@media (prefers-color-scheme: dark){
    :root{
        --border:rgba(26, 26, 26,0.7);
        --border2:rgb(26, 26, 26);
        --light:#fff;
        --dark:#242424;
        --backborder:rgba(41, 41, 41,0.7);
        --backborder2:rgb(41, 41, 41);
        --back:#202124;
        --color:#ff6600;
        --color2:#cc5200;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --border:rgba(201, 201, 201,0.7);
        --border2:rgb(201, 201, 201);
        --light:#242424;
        --dark:#242424;
        --backborder:rgba(219, 219, 219,0.7);
        --backborder2:rgb(219, 219, 219);
        --back:#fff;
        --color:#ff6600;
        --color2:#cc5200;
    }
}

body, html{
    overflow: overlay;
    outline:none;
    border:none;
    background-color:var(--back);
    background-image: url(/static/background.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    text-align:center;
    font-family: IBM Plex Sans;
    color:var(--light);
    transition: background 1s;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--border);
    transition:.2s;
    border-radius: 6px;
}





@keyframes load{
    from{top:0%;transform: translate(-50%, -50%) rotate(90deg) scale(0.5);opacity:.0;}
    30%{transform: translate(-50%, -50%) rotate(-5deg)}
    45%{transform: translate(-50%, -50%) scale(0.95) rotate(4deg)}
    60%{transform: translate(-50%, -50%) rotate(-3deg)}
    75%{transform: translate(-50%, -50%) rotate(2deg)}
    90%{transform: translate(-50%, -50%) rotate(-1deg)}
    top{top:20%;opacity:.1;}
}
.login{
    border-radius:8px;
    background:var(--backborder);
    height:150px;
    width:350px;
    text-align:left;
    top:40%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    border:2px solid var(--border);
    animation:load 4s ease;
    animation-delay:2s;

}

.replit-auth-button{
    border-radius:5px;
    position:fixed;
    background:var(--color);
    border:none;
    bottom:10px;
    right:10px;
    color:var(--dark);
    height:32px;
    width:130px;
    cursor:pointer;
    transition:.2s all;
    font-weight:600;
    border:1px solid var(--color);
    user-select:none;
}

.replit-auth-button:where(:hover, :focus){
    outline:none;
    filter:brightness(85%);
    transform:scale(0.95);
}

.welcome{
    margin:10px;
    color:var(--light);
}
.need{
    font-size:13px;
    margin:10px;
    color:var(--light);
}

.home{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    min-height:100px;
    top:200px;
    left: 50%;
    position:absolute;
    transform: translate(-50%, 0%);
}

@keyframes load2{
    from{transform:scale(1);}
    50%{transform:scale(0.9) rotate(5deg);box-shadow:none}
    to{transform:scale(1);}
}

@keyframes load3{
    from{transform:scale(1);top:100%}
    50%{transform:scale(0.9);box-shadow:none;}
    to{}
}

.home a{
    height:200px;
    width:200px;
    background-color:var(--color);
    background-image: none;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    padding:5px;
    margin:7px;
    border-radius:5px;
    opacity:.95;
    cursor:pointer;
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    transition:.2s;
    animation:load2 2s ease alternate;
    
}

.home a:where(:hover, :focus){
    outline:none;
    transform:scale(0.97);
    box-shadow:none;
    filter:brightness(95%);
}

.toplogo{
    width:500px;
    height:auto;
    background-color:var(--color);
    transform:scale(1);
    padding:5px;
    border-radius:5px;
    opacity:.95;
    cursor:pointer;
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    transition:.2s;
    animation:load2 2s ease alternate;
    top:20px;
    left:50%;
    translate:-50% 0%;
    position:absolute;

}

.toplogo:where(:hover, :focus){
    outline:none;
    transform:scale(0.97);
    box-shadow:none;
    filter:brightness(95%);
}

@media screen and (max-width:515px){
    .toplogo{
        width:200px;
    }
}

.pic{
    opacity:.95;
    width:auto;
    height:40px;
    border-radius:10px;
    background:var(--color);
    top:20px;
    right:20px;
    position:absolute;
    text-align:left;
    line-height:10px;
    color:var(--dark);
    cursor:pointer;
    animation:load2 2s ease alternate;
    transition:.2s;
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
}
.pic img{
    height:30px;
    width:30px;
    border-radius:8px;
    margin:5px;
    
}

@media screen and (max-width:650px){
    .pic{
        display:none;
    }
}

.pic:where(:hover, :focus){
    outline:none;
    transform:scale(0.97);
    box-shadow:none;
    filter:brightness(95%);
}


@keyframes load3{
    from{opacity:0;top:100%;}
    to{opacity:1}
}

.rannum{
    border-radius:10px;
    top:200px;
    left: 50%;
    position:absolute;
    transform: translate(-50%, 0%);
    animation:load3 3s ease alternate;
    overflow:hidden;
    transition:.2s;
}
.calc{
    border-radius:10px;
    top:200px;
    left: 50%;
    position:absolute;
    transform: translate(-50%, 0%);
    animation:load3 3s ease alternate;
    overflow:hidden;
    border:1px solid var(--border);
    transition:.2s;
}

.calc:where(:hover, :focus){
    outline:none;
    border-color:var(--color);
}


.screen{
    display: table-cell;
    vertical-align: bottom;
    padding:10px;
    color:var(--light);
    font-size:25px;
    font-weight:bold;
    width:300px;
    height:100px;
    background:var(--backborder);
    border:none;
    transition:.2s;
    text-align:right;
    overflow-x:scroll;
}


.but1{
    line-height:40px;
    text-align:center;
    width:320px;
    height:40px;
    background:var(--backborder);
    border:2px solid var(--border);
    border:none;
    transition:.2s;
    cursor:pointer;
    color:var(--light);
    font-size:16px;
    overflow:hidden;
}

.but1:where(:hover, :focus){
    outline:none;
    color:var(--color);
}

.but2{
    line-height:70px;
    float:left;
    text-align:center;
    width:64px;
    height:70px;
    background:var(--backborder);
    border:none;
    transition:.2s;
    cursor:pointer;
    font-size:16px;
    color:var(--light);
    overflow:hidden;
}

.but2:where(:hover, :focus){
    outline:none;
    color:var(--color);
}

.but3{
    line-height:70px;
    float:left;
    text-align:center;
    width:64px;
    height:70px;
    background:var(--backborder);
    border:none;
    transition:.2s;
    cursor:pointer;
    font-size:16px;
    color:var(--light);
}

.but3:where(:hover, :focus){
    outline:none;
    color:var(--color);
}

.number{
    color:var(--light);
    border:2px solid var(--border);
    background:var(--backborder);
    height:40px;
    width:calc(50% - 18px);
    margin:5px;
    float:left;
    border-radius:5px;
    transition:.2s;
    text-align:center;
}

.numgo{
    color:var(--light);
    border:2px solid var(--border);
    background:var(--backborder);
    display:block;
    height:40px;
    width:calc(100% - 10px);
    margin:5px;
    border-radius:5px;
    cursor:pointer;
    transition:.2s;
}

.numshow{
    color:var(--light);
    background:var(--backborder);
    border:2px solid var(--border);
    display:block;
    height:200px;
    width:calc(100% - 14px);
    margin:5px;
    border-radius:5px;
    line-height:200px;
    font-size:50px;
    font-weight:700;
}

.number:where(:hover, :focus),.numgo:where(:hover, :focus){
    outline:none;
    border-color:var(--color);
    transform:scale(0.98);
}

.number:focus{
    outline:none;
    border-color:var(--color2);
}

.numgo:active{
    outline:none;
    border-color:var(--color2);
}

.time{
    bottom:50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, 0%);
    font-size:200px;
    font-weight:800;
    background:var(--backborder);
    border-radius:10px;
    border:2px solid var(--border);
    padding:10px;
    white-space: nowrap;
    animation:load3 3s ease alternate;
    transition:.2s;
}

.date{
    bottom:30%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, 0%);
    font-size:30px;
    max-font-size:50px;
    font-weight:700;
    background:var(--backborder);
    border-radius:10px;
    border:2px solid var(--border);
    padding:10px;
    white-space: nowrap;
    animation:load3 3s ease alternate;
    transition:.2s;
}

@media screen and (max-width:1100px){
    .time{
        font-size:150px;
    }
    .date{
        font-size:30px;
    }
}

@media screen and (max-height:900px){
    .time{
        bottom:30%;
    }
    .date{
        bottom:10%;
    }
}

@media screen and (max-width:850px){
    .time{
        font-size:100px;
    }
    .date{
        font-size:25px;
    }
}

@media screen and (max-width:550px){
    .time{
        font-size:70px;
    }
    .date{
        font-size:15px;
    }
}


@keyframes load4{
    from{bottom:0%;opacity:0;}
    to{}
}
@keyframes load5{
    from{top:100%;opacity:0;}
    to{}
}

@keyframes close{
    from{top:0%;opacity:0;}
    to{top:100%}
}

.write{
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    position:absolute;
    margin:0px;
    border:none;
    z-index:-1;
}

.startcont{
    bottom:50px;
    left: 50%;
    position:fixed;
    transform: translate(-50%, 0%);
    animation:load4 3s ease alternate;
    width:100%;
}

.start{
    background:var(--backborder);
    border:2px solid var(--border);
    height:40px;
    width:150px;
    border-radius:5px;
    color:var(--light);
    cursor:pointer;
    transition:.2s;
}

.start:where(:hover, :focus){
    outline:none;
    border-color:var(--color);
    transform: scale(0.98);
}

.start:active{
    border-color:var(--color2);
}

.edit{
    height:330px;
    width:400px;
    background:var(--dark);
    border:2px solid var(--border);
    border-radius:10px;
    animation:load3 3s ease alternate;
    box-shadow:2px 2px 2px rgba(0,0,0,0.3);
    opacity:0.9;
}

.edit::backdrop{
    opacity:.8;
    animation:load5 1s ease alternate;
    background:linear-gradient(#0d0d0d,#f60);
}

.textbox{
    height:40px;
    width:350px;
    background:var(--backborder2);
    border:2px solid var(--border2);
    border-radius:5px;
    margin:5px;
    color:var(--light);
    transition:.2s;
}

.textbox:where(:hover, :focus){
    outline:none;
    border-color:var(--color2);
    transform:scale(0.98);
}

.textbox:focus{
    border-color:var(--color2);
    outline:none;
    transform:scale(0.96);
}

.desc{
    resize:none;
    height:150px;
    width:350px;
    background:var(--backborder2);
    border:2px solid var(--border2);
    border-radius:5px;
    margin:5px;
    color:var(--light);
    transition:.2s;
}

.desc:where(:hover, :focus){
    outline:none;
    border-color:var(--color2);
    transform:scale(0.98);
}

.desc:focus{
    border-color:var(--color2);
    outline:none;
    transform:scale(0.96);
}

.submit{
    height:40px;
    width:360px;
    background:var(--backborder2);
    border:2px solid var(--border2);
    border-radius:5px;
    mragin:5px;
    margin-top:50px;
    color:var(--light);
    transition:.2s;
    cursor:pointer;
}

.submit:where(:hover, :focus){
    outline:none;
    border-color:var(--color2);
    transform:scale(0.98);
}

.submit:focus{
    border-color:var(--color2);
    outline:none;
    transform:scale(0.96);
}

.close{
    height:30px;
    width:30px;
    background:var(--backborder2);
    border:2px solid var(--border2);
    position:absolute;
    top:5px;
    right:5px;
    border-radius:5px;
    user-select:none;
    font-family: 'Material Icons';
    color:var(--light);
    line-height:30px;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
}

.close:where(:hover, :focus){
    outline:none;
    border-color:var(--color);
    transform:scale(0.9);
}

.lap{
    transform:translate(-50%,0%);
    position:absolute;
    bottom:100px;
    height:10%;
    width:300px;
    border-radius:5px;
    background:var(--backborder);
    border:2px solid var(--border);
    overflow-y:scroll;
    left:50%;
    animation:load4 3s ease alternate;
}

.lap a{
    margin:2px;
    display:block;
}

.games{
    transform:translate(-50%,0%);
    left:50%;
    top:200px;
    width:40%;
    position:absolute;
}

.games a{
    padding:5px;
    text-align:left;
    display:block;
    margin:2px auto; 
    margin-top:5px;
    border-radius:5px;
    background:var(--backborder);
    border:2px solid var(--border);
    color:var(--light);
    transition:.2s;
    height:200px;
    width:99%;
    max-width:700px;
    cursor:pointer;
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    text-decoration:none;
    animation:load2 3s ease alternate;
}

.games a:where(:hover, :focus){
    outline:none;
    border-color:var(--color);
    box-shadow:none;
    transform:scale(0.98);
}

.games a b{
    font-size:25px;
    font-wight:800;
    
}

.editform{
    position:absolute;
    top:200px;
    left:50%;
    transform:translate(-50%,0%);
    padding:20px;
    border-radius:5px;
    background:var(--backborder);
    border:2px solid var(--border);
}

.title{
    dispaly:block;
    height:30px;
    width:350px;
    padding:5px;
    background:var(--backborder2);
    border:2px solid var(--border2);
    border-radius:5px;
    margin:5px;
    color:var(--light);
    transition:.2s;
    resize:none;
    
}


.title:invalid{
    border:2px solid #b80000;
}

.title:focus{
    border:2px solid #f35512;
    outline:none;
    transform:scale(0.95);
}

.title:valid{
    border:2px solid #30910d;
}

.title:focus{
    outline:none;
    transform:scale(0.95);
}

.title:placeholder-shown:not(:focus){
    border: 2px solid var(--border2);
}


.send{
    height:36px;
    width:365px;
    padding:5px;
    border:none;
    background:var(--color);
    color:var(--dark);
    border-radius:5px;
    cursor:pointer;
    transition:.2s;
    border:2px solid var(--color2);
}

.send:where(:hover, :focus){
    outline:none;
    filter:brightness(85%);
    transform:scale(0.98);
}


.tasks{
	position:absolute;
	left:50%;
	top:200px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	translate:-50% 0%;
	width:90%;
	padding:10px;
}

.tasks a:not(.delit){
	background:var(--backborder);
	border:2px solid var(--border2);
	border-radius:5px;
	margin:5px;
	padding:10px;
	color:var(--light);
	transition:.2s;
	overflow-y:scroll;
	text-decoration:none;
	animation:load2 3s ease alternate;
	width:clamp(500px,500px,200px);
	text-align:left;
	height:250px;
	cursor:pointer;
}

.tasks a:where(:hover, :focus):not(.delit){
	border-color:var(--color);
	transform:scale(0.98);
}

.tasks p{
	margin-top:20px;
}

.delit{
	color:var(--light);
	float:right;
	height:32px;
	width:32px;
	background:var(--backborder2);
	border:2px solid var(--border2);
	font-family: 'Material Icons';
	border-radius:5px;
	line-height:20px;
	text-align:center;
	font-size:16px;
	transition:.2s;
	cursor:pointer;
	padding:auto;
}

.delit:hover{
	border-color:#db0000;
	scale:0.9;
	color:#db0000;
}

.icon{
    font-family: 'Material Icons';
    line-height:10px;
    font-size:16px;
    position:relative;
    top:3px;
}

.editit{
    height:170px;
    width:400px;
    border:2px solid var(--border2);
    background:var(--backborder2);
    border-radius:5px;
    color:var(--light);
}

.editit::backdrop{
    background:rgba(0,0,0,0.7);
}

.editdiv{
    position:absolute;
    right:10px;
    bottom:10px;
}
.edititbutton{
    background:var(--backborder2);
    color:var(--light);
    border:2px solid var(--border2);
    border-radius:5px;
    height:30px;
    width:70px;
    float:right;
    margin:2px;
    padding:5px;
    cursor:pointer;
    transition:.2s;
}

#del:where(:hover, :focus){
    outline:none;
    border-color:#db0000;
    color:#db0000;
    scale:0.95;
}

#ed:where(:hover, :focus){
    outline:none;
    border-color:#30910d;
    color:#30910d;
    scale:0.95;
}

#cancel:where(:hover, :focus){
    outline:none;
    border-color:var(--color);
    color:var(--color);
    scale:0.95;
}

.notasks{
    position:absolute;
    left:50%;
    top:200px;
    translate:-50% 0%;
    background:var(--backborder);
    padding:10px;
    border-radius:5px;
    display:none;
}

.join{
    position:absolute;
    left:50%;
    top:200px;
    translate:-50% 0%;
    background:var(--backborder);
    border:2px solid var(--border);
    padding:10px;
    border-radius:5px;
}

.welcome{
    translate:-50% 0%;
    position:absolute;
    background:var(--backborder);
    border-radius:5px;
    top:200px;
    left:50%;
    padding:10px;
}

.settings{
	position:absolute;
	left:50%;
	top:300px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	translate:-50% 0%;
	width:90%;
	padding:10px;
}

.settings div{
    position: relative;
    flex-grow: 1;
	background:var(--backborder);
	border:2px solid var(--border);
	border-radius:5px;
	margin:5px;
	padding:10px;
	color:var(--light);
	transition:.2s;
	overflow-y:scroll;
	text-decoration:none;
	width:clamp(500px,500px,200px);
	text-align:left;
	height:250px;
	cursor:pointer;
}

.settings div:where(:hover, :focus){
	border:2px solid var(--color);
	scale:0.98;
    rotate:0.5deg;
}

.settings p{
	margin-top:20px;
}

.colorlabel{
    font-weight:700;
}

.color{
    width:70px;
    margin:5px 0px 0px 5px;
    background:var(--backborder);
    border-radius:4px;
    border:2px solid var(--border);
    cursor:pointer;
    transition:.2s;
}

.color:where(:focus, :hover){
    border-color:var(--color);
    scale:0.97;
}

.pick{
    background:var(--backborder2);
    border:2px solid var(--border2);
    height:35px;
    width:100px;
    cursor:pointer;
    color:var(--light);
    border-radius:5px;
    transition:.2s;
    position:absolute;
    bottom:10px;
    left:10px;
}

.pick:where(:focus, :hover){
    border-color:var(--color);
    scale:0.97;
}

.backphotos{
    height:80%;
    width:clamp(1250px,80%,200px);
    background:var(--backborder2);
    border-radius:10px;
    border:2px solid var(--border2);
    transition:.2s;
    padding:10px;
    color:var(--light);
}

.backphotos::backdrop{
    background:#000;
    opacity:0.5;
}

.photos{
    background:#fff;
    position:absolute;
    width:95%;
    left:50%;
    top:100px;
    height:calc(100% - 100px);
    translate:-50% 0%;
    overflow-y:scroll;
}

.photos a{
    
}