<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "/static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <h2 class="notasks" id="notasks">No one wants to join</h2>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home"><img src="/static/icons/toplogo.png" class="toplogo"></a>
            <dialog class="edit" id="taskmake">
            <span class="close" onclick="document.getElementById('taskmake').close()">close</span>
            </dialog>
        <div class="tasks" id="tasks"></div>
        <form method="post" class="startcont">
            <input type="text" name="name" class="title" style="background:var(--backborder);border-color:var(--border);" required placeholder="Add to Beta">
        </form>
        <div id="name" class="lap">
            <h3>People In Beta</h3>
        </div>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
			tasksarray = {{tasks|tojson}};
            names = {{names|tojson}};
            console.log(names)
			var start = 0.3
            document.getElementById("profile").src = profile
            if (tasksarray.length == 0){
                document.getElementById("notasks").style.display = "block"
            }
			for(var i = 0;i<tasksarray.length;i+=3){
				var title1 = tasksarray[i]
				var text1 = tasksarray[i+1]
				var tasks = document.getElementById("tasks")
	            var task = document.createElement('a')
				var title = document.createElement('b')
				var text = document.createElement('p')
                var current
				start+=0.3
				task.style.animationDelay = start+"s"
				text.innerText = text1
				title.innerText = title1
				tasks.appendChild(task)
				task.appendChild(title)
				task.appendChild(text)
			}
            for (var j = 0;j<names.length;j++){
                console.log("hi")
                var namesit = document.getElementById("name")
                var nameit = document.createElement('a')
                nameit.innerText = names[j]
                namesit.appendChild(nameit)
            }
            //document.getElementById('taskmake').showModal()
        </script>
        <script src="static/app.js"></script>
    </body>
</html>