<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <div class="games">
            <a style="animation-delay:0.6s;" href="/play?game=parkour"><b>Parkour Game</b><br><br><span>This is a small parkour game. To play use the arrow keys or wasd and try to avoid the lava and falling off. To finish the level you need to get to the golden '!'.</span></a>
            <a style="animation-delay:0.9s;" href="/play?game=maze"><b>Maze Game</b><br><br><span>The maze game is a simple puzzle game in which you have to try to find your way to a black hole and jump in it to get to the next level but you have limited vision. You use the arrow keys to move and try not to touch the lava.</span></a>
            <a style="animation-delay:1.2s;" href="/play?game=adventure"><b>Adventure Game</b><br><br><span>This is a small Adventure Game where the aim is to complete quests to move onto the next level.  To move use the arrow keys or WASD. IT will also save your loot and what level you are on.</span></a>
        </div>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            photo = {{back|tojson}};
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            document.getElementById("profile").src = profile
        </script>
        <script src="static/app.js"></script>
    </body>
</html>