<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="pic" style="animation-delay:5.3s;"><img id="profile"></img></a></div>
        <a href="/home" style="animation-delay:5.0s;"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <div class="home">
            <a href="/maths" style="animation-delay:5.6s;background-image:url(/static/icons/maths.png);"></a>
            <a href="/number" style="animation-delay:5.9s;background-image:url(/static/icons/number.png);"></a>
            <a href="/time" style="animation-delay:6.2s;background-image:url(/static/icons/time/time.png);"></a>
            <a href="/tasks" style="animation-delay:6.5s;background-image:url(/static/icons/tasks.png);"></a>
            <a href="/games" style="animation-delay:6.8s;background-image:url(/static/icons/games.png);"></a>
            <a href="/write" style="animation-delay:6.8s;background-image:url(/static/icons/write.png);"></a>
            <a href="/settings" style="animation-delay:7.1s;background-image:url(/static/icons/settings.png);" hidden></a>
            <a href="/admin" style="animation-delay:7.1s;background-image:url(/static/icons/admin.png);"></a>
        </div>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            document.getElementById("profile").src = profile
        </script>
        <script src="static/app.js"></script>
    </body>
</html>