<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="manifest" href="/static/manifest.json">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home" style="animation-delay:0.0s;"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <div class="home">
            <a href="/maths" style="animation-delay:0.6s;background-image:url(/static/icons/maths.png);"></a>
            <a href="/number" style="animation-delay:0.9s;background-image:url(/static/icons/number.png);"></a>
            <a href="/time" style="animation-delay:1.2s;background-image:url(/static/icons/time/time.png);"></a>
            <a href="/tasks" style="animation-delay:1.5s;background-image:url(/static/icons/tasks.png);"></a>
            <a href="/games" style="animation-delay:1.8s;background-image:url(/static/icons/games.png);"></a>
            <a hidden href="/write" style="animation-delay:1.8s;background-image:url(/static/icons/write.png);"></a>
            <a href="/settings" style="animation-delay:2.1s;background-image:url(/static/icons/settings.png);"></a>
            <a href="/admin" id="admin" style="animation-delay:2.1s;background-image:url(/static/icons/admin.png);" hidden></a>
        </div>
        <nav class="navbar">
            <a href="/home" class="icon nava navselect">home</a>
            <a href="/maths" class="icon nava">calculate</a>
            <a href="/number" class="icon nava">casino</a>
            <a href="/current" class="icon nava">schedule</a>
            <a href="/countdown-timer" class="icon nava">hourglass_empty</a>
            <a href="/stopwatch" class="icon nava">timer</a>
            <a href="/tasks" class="icon nava">task</a>
            <a href="/games" class="icon nava">sports_esports</a>
            <a href="/settings" class="icon nava">tune</a>
            <a href="/admin" class="icon nava" id="navadmin" style="display:none;">admin_panel_settings</a>
            <a href="/__repl" class="icon nava" target="_blank" style="color:#FF0000;">favorite</a>
            <a href="https://replit.com/@GoodVessel92551" target="_blank" class="icon nava" style="color:#0072B5;">person_add</a>
            <a href="/time" class="navtime" id="navtime"></a>
        </nav>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            photo = {{back|tojson}};
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            document.getElementById("profile").src = profile
            if (name == "GoodVessel92551"){
                document.getElementById("admin").style.display = "block"
                document.getElementById("navadmin").style.display = "block"
            }
        </script>
        <script src="static/app.js"></script>
        <script src="static/time.js"></script>
    </body>
</html>