<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="pic" style="animation-delay:1.5s;"><img id="profile"></img></a></div>
        <a href="/home"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <div class="calc">
            <div class="screen" id="screen">Press or Type</div>
            <div class="but1" onclick="calc('=')">=</div>
            <div class="but2" onclick="calc('7')">7</div>
            <div class="but2" onclick="calc('8')">8</div>
            <div class="but2" onclick="calc('9')">9</div>
            <div class="but3" onclick="calc('ac')">Ac</div>
            <div class="but3" onclick="calc('del')">Del</div><br>
            <div class="but2" onclick="calc('4')">4</div>
            <div class="but2" onclick="calc('5')">5</div>
            <div class="but2" onclick="calc('6')">6</div>
            <div class="but3" onclick="calc('(')">(</div>
            <div class="but3" onclick="calc(')')">)</div><br>
            <div class="but2" onclick="calc('1')">1</div>
            <div class="but2" onclick="calc('2')">2</div>
            <div class="but2" onclick="calc('3')">3</div>
            <div class="but3" onclick="calc('+')">+</div>
            <div class="but3" onclick="calc('x')">x</div><br>
            <div class="but3" onclick="calc('ans')">Ans</div>
            <div class="but2" onclick="calc('0')">0</div>
            <div class="but3" onclick="calc('.')">.</div>
            <div class="but3" onclick="calc('-')">-</div>
            <div class="but3" onclick="calc('/')">÷</div>
        </div>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            document.getElementById("profile").src = profile
        </script>
        <script src="static/calc.js"></script>
        <script src="static/app.js"></script>
    </body>
</html>