<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booogle Offline</title>
</head>
<body>
    <h1>Oh No You Are Offline!</h1>
    <b>You internet is not working so please try again when you have reconected.</b>
    <style>
        body{
            font-family:arial;
            text-align:center;
            background-color:#292929;
            color:#fff;
        }
    </style>
</body>
</html>