<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home" style="animation-delay:0.0s;"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <h2 id="welcome" class="welcome">Welcome</h2>
        <div class="settings">
            <div><h3>Color</h3><p>Pick 2 colors for the theme of Booogle It is recermend that the second color is sligtly darker then the first one.</p><button class="pick">Pick Colors</button></div>
            <div><h3>Backgound Photo</h3><p>Pick the photo that you want as you Booogle Background.</p><button class="pick">Pick a Photo</button></div>
            <div><h3>Theme</h3><button class="pick">Pick a Theme</button></div>
            <div><h3>Report A Bug</h3><button class="pick">Report A Bug</button></div>
            <div><h3>Suggest Feedback</h3><button style="width:130px;" class="pick">Suggest Feedback</button></div>
        </div>
        <dialog class="backphotos" id="backphotos">
            <h2>Pick you photo</h2>
            <div class="photos">
                <a></a>
            </div>
        </dialog>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            document.getElementById("profile").src = profile
            document.getElementById("backphotos").showModal()
            const date = new Date()
            var hour = date.getHours()
            if (hour > 1 && hour < 11){
                document.getElementById("welcome").innerText = "Good Morning"
            }
            else if(hour >= 12 && hour < 17){
                document.getElementById("welcome").innerText = "Good Afternoon"
            }
            else{
                document.getElementById("welcome").innerText = "Good Everning"
            }
            if (name == "GoodVessel92551"){
            }
        </script>
        <script src="static/app.js"></script>
    </body>
</html>