<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home" style="animation-delay:0.0s;"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <h2 id="welcome" class="welcome">Welcome</h2>
        <div class="settings">
            <div><h3>Backgound Photo</h3><p>Pick the photo that you want as you Booogle Background. More will be added.</p><button onclick="document.getElementById('backphotos').showModal()" class="pick">Pick a Photo</button></div>
            <div><h3>Suggest Feedback/Report A Bug</h3><p>Suggest feedback or report a bug</p><button style="width:130px;" class="pick" onclick="document.getElementById('feedback').showModal()">Suggest/Report</button></div>
        </div>
        <dialog class="backphotos" id="backphotos">
            <h2 style="margin:10px;margin-top:40px;">Pick Your Photo</h2>
            <button onclick="document.getElementById('backphotos').close()" class="edititbutton closebut" id="cancel"><span class="icon">close</span>Close</button>
            <div class="photos" id="photodiv">
                <form method="post" action="/background/pick?photo=bush"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/bush.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower.jpg);"></form>
                <form method="post" action="/background/pick?photo=flowers"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flowers.jpg);"></form>
                <form method="post" action="/background/pick?photo=grass"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/grass.jpg);"></form>
                <form method="post" action="/background/pick?photo=leaf"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/leaf.jpg);"></form>
                <form method="post" action="/background/pick?photo=wall"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/wall.jpg);"></form>
                <form method="post" action="/background/pick?photo=wall2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/wall2.jpg);"></form>
                <form method="post" action="/background/pick?photo=water"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/water.jpg);"></form>
                <form method="post" action="/background/pick?photo=fern"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/fern.jpg);"></form>
                <form method="post" action="/background/pick?photo=fern2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/fern2.jpg);"></form>
                <form method="post" action="/background/pick?photo=fern3"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/fern3.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower2.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower3"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower3.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower4"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower4.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower5"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower5.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower6"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower6.jpg);"></form>
                <form method="post" action="/background/pick?photo=flowers2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flowers2.jpg);"></form>
                <form method="post" action="/background/pick?photo=leaf2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/leaf2.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock.jpg);"></form>
                <form method="post" action="/background/pick?photo=waterfall"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/waterfall.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower7"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower7.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower8"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower8.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower9"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower9.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower10"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower10.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower11"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower11.jpg);"></form>
                <form method="post" action="/background/pick?photo=flower12"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/flower12.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock3"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock3.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock4"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock4.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock5"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock5.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock6"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock6.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock7"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock7.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock8"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock8.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock9"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock9.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock10"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock10.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock11"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock11.jpg);"></form>
                <form method="post" action="/background/pick?photo=rock12"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/rock12.jpg);"></form>
                <form method="post" action="/background/pick?photo=grass2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/grass2.jpg);"></form>
                <form method="post" action="/background/pick?photo=green"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/green.jpg);"></form>
                <form method="post" action="/background/pick?photo=green2"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/green2.jpg);"></form>
                <form method="post" action="/background/pick?photo=floor"><input type="submit" value="" class="backgroundpick" style="background-image: url(/static/background_low/floor.jpg);"></form>
            </div>
        </dialog>
        <dialog class="backphotos" id="colorit">
            <h2 style="margin:10px;margin-top:40px;">Pick A Color</h2>
            <button onclick="document.getElementById('colorit').close()" class="edititbutton closebut" id="cancel"><span class="icon">close</span>Close</button>
            <form method="post" action="/settings/color" class="photos">
                <div class="color_text">
                    <h3>Color 1</h3>
                    <p>This is the main color that Booogle uses. It is recommended not to pick a dark color.</p>
                    <a class="pick_pos"><input type="color" name="color1" class="pickcolor" value="#ff6600"></a>
                </div>
                <div class="color_text">
                    <h3>Color 2</h3>
                    <p>This is the secondery color that Booogle user it is recommended that this is slightly darker than color 1.</p>
                    <a class="pick_pos"><input type="color" name="color2" class="pickcolor" value="#ff6600"></a>
                </div>
                <div class="color_save_pos">
                    <input type="submit" class="color_save" style="border-radius:5px 2px 2px 5px;">
                    <input type="button" value="Reset" class="color_save" style="border-radius:2px 5px 5px 2px;" onclick="window.open('/settings/color/reset','_self')">
                </div>
            </form>
        </dialog>
        <dialog class="backphotos" id="feedback">
            <h2 style="margin:10px;margin-top:40px;">Suggest/Report</h2>
            <p>You can make a bug report of feedback suggestion. If you make a bug report make sure to give steps on how to reproduce it.<br>If making a suggestion make sure to include detail on why you want it.</p>
            <form method="post" action="/feedback" class="report">
                <input class="title" name="title" required>
                <textarea class="title" name="desc" style="height:150px;" required></textarea>
                <input type="submit" value="Submit" class="send">
            </form>
            <button onclick="document.getElementById('feedback').close()" class="edititbutton closebut" id="cancel"><span class="icon">close</span>Close</button>
        </dialog>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            photo = {{back|tojson}};
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            document.getElementById("profile").src = profile
            const date = new Date()
            var hour = date.getHours()
            if (hour > 0 && hour < 12) document.getElementById("welcome").innerText = "Good Morning"
            else if(hour >= 12 && hour < 18) document.getElementById("welcome").innerText = "Good Afternoon"
            else document.getElementById("welcome").innerText = "Good Everning"
            if (name == "GoodVessel92551"){
            }
        </script>
        <script src="static/app.js"></script>
    </body>
</html>