<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "/static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/time"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <span class="time" id="time">0:0:0:0</span>
        <div class="startcont">
            <button class="start" id="start" onclick="start()">Start</button>
            <button class="start" id="lapit" onclick="lap()">Lap</button>
        </div>
        <div id="lap" class="lap">
            <h3>Laps</h3>
        </div>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            photo = {{back|tojson}};
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            document.getElementById("profile").src = profile
            var id
            var start2 = true
            var time = [0,0,0,0]
            function start() {
                if (start2 == true){
                    document.getElementById("start").innerText = "Stop"
                    id = setInterval(countup, 100)
                    start2 = false
                }else{
                    stop()
                }
            }
            function stop() {
                document.getElementById("start").innerText = "Start"
                start2 = true
                clearInterval(id)
            }
            function countup() {
                if (time[3] == 9){
                    time[3] = 0
                    time[2] += 1
                    document.getElementById("time").innerText = time[0]+" : "+time[1]+" : "+time[2]+" : "+time[3]
                }
                else if (time[2] == 59){
                    
                    time[2] = 0
                    time[1] += 1
                    document.getElementById("time").innerText = time[0]+" : "+time[1]+" : "+time[2]+" : "+time[3]
                }
                else if (time[1] == 59){
                    time[1] = 0
                    time[0] += 1
                    document.getElementById("time").innerText = time[0]+" : "+time[1]+" : "+time[2]+" : "+time[3]
                }else{
                    time[3] += 1
                    document.getElementById("time").innerText = time[0]+" : "+time[1]+" : "+time[2]+" : "+time[3]
                }
                }
            function lap() {
                var gettime = document.getElementById("lap")
                var lap_it = document.createElement('a')
                lap_it.innerText = time[0]+" : "+time[1]+" : "+time[2]+" : "+time[3]
                gettime.appendChild(lap_it)
            }
        </script>
        <script src="static/app.js"></script>
    </body>
