<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "/static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <h2 class="notasks" id="notasks">You Have No Tasks</h2>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home"><img src="/static/icons/toplogo.png" class="toplogo"></a>
            <dialog class="edit" id="taskmake">
            <span class="close" onclick="document.getElementById('taskmake').close()">close</span>
            <form method="post">
                <h3 style="color:var(--light);">Make a Task</h3>
                <textarea name="task" id="desc" class=desc></textarea>
                <input type="submit" class="submit" id="submit">
            </form>
            </dialog>
        <div class="tasks" id="tasks"></div>
        <dialog id="edit" class="editit">
            <h3>Do You Want To Delete Or Edit This Task?</h3>
            <p>If you delete it you will not be able to get it back. You can edit a tasks infinite times. Press cancel to close.</p>
            <div class="editdiv">
                <button onclick="del()" class="edititbutton" id="del"><span class="icon">delete</span>Delete</button>
                <button onclick="edit()" class="edititbutton" id="ed"><span class="icon">edit</span>Edit</button>
                <button class="edititbutton" onclick="document.getElementById('edit').close()" id="cancel" autofocus>Cancel</button>
            </div>
        </dialog>
        <div class="startcont">
            <button class="start" id="new" onclick="window.open('/new','_self')">Make a Task</button>
        </div>
        <nav class="navbar">
            <a href="/home" class="icon nava">home</a>
            <a href="/maths" class="icon nava">calculate</a>
            <a href="/number" class="icon nava">casino</a>
            <a href="/current" class="icon nava">schedule</a>
            <a href="/countdown-timer" class="icon nava">hourglass_empty</a>
            <a href="/stopwatch" class="icon nava">timer</a>
            <a href="/tasks" class="icon nava navselect">task</a>
            <a href="/games" class="icon nava">sports_esports</a>
            <a href="/settings" class="icon nava">tune</a>
            <a href="/admin" class="icon nava" id="navadmin" style="display:none;">admin_panel_settings</a>
            <a href="/__repl" class="icon nava">favorite</a>
            <a href="https://replit.com/@GoodVessel92551" class="icon nava">person_add</a>
            <a href="/time" class="navtime" id="navtime"></a>
        </nav>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
			tasksarray = {{tasks|tojson}};
            photo = {{back|tojson}};
            if (name == "GoodVessel92551"){
                document.getElementById("navadmin").style.display = "block"
            }
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
			var start = 0.3
			console.log(tasks)
            document.getElementById("profile").src = profile
            if (tasksarray.length == 0){
                document.getElementById("notasks").style.display = "block"
            }
			for(var i = 0;i<tasksarray.length;i+=3){
				console.log(i)
				console.log(tasksarray[i+1])
				var num = tasksarray[i]
				var title1 = tasksarray[i+1]
				var text1 = tasksarray[i+2]
				var tasks = document.getElementById("tasks")
	            var task = document.createElement('a')
				var title = document.createElement('b')
				var text = document.createElement('p')
                var current
                task.id = num
				start+=0.3
				task.style.animationDelay = start+"s"
				task.addEventListener("click",(e) => {
                    document.getElementById("edit").showModal()
					console.log(e.target.id)
                    current = e.target.id
				})
				text.innerText = text1
				title.innerText = title1
				tasks.appendChild(task)
				task.appendChild(title)
				task.appendChild(text)
			}
            function del() {
                window.open("/delete?id="+current,"_self")
            }
            function edit() {
                window.open("/edit_task?id="+current,"_self")
            }
			
        </script>
        <script src="static/app.js"></script>
        <script src="static/time.js"></script>
    </body>
</html>