<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="pic" style="animation-delay:0.3s;"><img id="profile"></img></a></div>
        <a href="/home"><img src="/static/icons/toplogo.png" class="toplogo"></a>
        <div class="home">
            <a href="/current" style="animation-delay:0.6s;background-image:url(/static/icons/time/time.png);"></a>
            <a href="/stopwatch" style="animation-delay:0.9s;background-image:url(/static/icons/time/stopwatch.png);"></a>
            <a href="/countdown-timer" style="animation-delay:01.2s;background-image:url(/static/icons/time/countdown.png);"></a>
        </div>
        <script>
            profile = {{profile_pic|tojson}};
            name = {{name|tojson}};
            photo = {{back|tojson}};
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            document.getElementById("profile").src = profile
        </script>
        <script src="static/app.js"></script>
    </body>
</html>